/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic:400);

html {
  font-size: 18px;
}
@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

.center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.right {
  float: right;
  width: 100%;
}

.quote {
  font-size: 1.25rem;
  font-style: italic;
  padding: 2rem;
}

pre {
  overflow: auto;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

code table {
  margin: -1rem;
}

td pre {
  padding: 0rem;
}

.embed-container {
  height: 0;
  margin-bottom: 2rem;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.anchorjs-link {
  color: #313131;
}
.anchorjs-link:hover {
  text-decoration: none;
}
*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2rem;
  padding: 0;
}

ul.posts li {
  padding: 0.2rem 0;
}

ul.posts li span {
  color: silver;
}

/*****************************************************************************/
/*
/* Tags
/*
/*****************************************************************************/

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}

.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}

.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

/*****************************************************************************/
/*
/* specialty
/*
/*****************************************************************************/

.grails-travis {
  /*display: table;*/
  vertical-align: middle;
}

.grails-travis img {
  display: inline;
  max-height: 200px;
  vertical-align: middle;
  width: 28%;
}

.grails-travis span {
  font-size: 475%;
  position: relative;
  /*padding-bottom: 40%;*/
  top:10px;
}

.spring-mybatis {
  vertical-align: middle;
}

.spring-mybatis img {
  display: inline;
  max-height: 200px;
  vertical-align: middle;
  width: 28%;
}

.spring-mybatis span {
  font-size: 300%;
  position: relative;
  /*padding-bottom: 40%;*/
  top:5px;
}

img[src$='#collector-coverage'] {
  display: inline;
  margin: 0 1px -3px 0;
}


/* List component */
.main-list{
  margin: 0;
  padding: 15px;
  border-radius: 2px;
  border-top: 1px solid #eee;
}

.main-list .main-list-item{
  display: flex;
  padding: 10px 5px;
}
.main-list .main-list-item:not(:last-child){
  border-bottom: 1px solid #EEE;
}

/*list item image wrapper*/
.main-list .main-list-item__image{
  flex-shrink: 0;
  height: 80px;
}
.main-list .main-list-item__image img{
  border-radius: 10%;
  width: 70px;
  height: 70px;
}

/*list item content*/
.main-list .main-list-item__content{
  flex-grow: 1;
  padding: 0 20px;
}
.main-list .main-list-item__content h4{
  margin: 0;
  font-size: 18px;
  margin-top: 15px;
}

.main-list .main-list-item__content p{
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 10px;
  color: gray;
}