.topnav {
  margin-bottom: 1rem;
  text-align:center;
}

.topnav ul {
  display:inline-block;
  list-style:none;
  margin-bottom: 0;
  padding-left: 0;
}

.topnav li {
  display:inline;
}

* html .topnav ul { /* Target IE6 */
  display:inline;
}
*+html .topnav ul { /* Target IE7 */
  display:inline;
}

.topnav a {
  color: #555555;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding:12px 15px; /* variable width */
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddddaa;
  color: white;
}

.hide {
  display: none;
}